service: apiai
runtime: go111
env_variables:
  API_TOKEN: XXXXXXXXXXXXXXXXX
  BLOCKS_URL: https://myboard.magellanic-clouds.net
  BLOCKS_API_TOKEN: ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
automatic_scaling:
  max_concurrent_requests: 24
